@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #e53935;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Dark/Light Mode */
.day-night {
    position: fixed;
    right: 0;
    top: 25px;
    margin-right: 25px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    z-index: 101;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    border: 1px solid var(--bg-black-50);
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Aside */
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 50px;
}

.aside .logo img {
    height: 100px;
    position: absolute;
    left: -50px;
    transition: all 0.3s ease;
}

.aside .logo .filled,
.aside .logo:hover .outline {
    opacity: 1;
}

.aside .logo .outline,
.aside .logo:hover .filled {
    opacity: 0;
}

.aside ul {
    list-style: none;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

/* Home */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 70%;
    max-width: 70%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Reenie Beanie', cursive;
    font-size: 45px;
    font-weight: 700;
    margin-left: 0.5rem;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin: 0 30px 30px 0;
    font-size: 20px;
    color: var(--text-black-700);
    text-align: justify;
}

.home .home-img {
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    text-align: center;
    justify-self: center;
    background: url(../images/profile/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px var(--skin-color);
    animation: profile_animate 8s ease-in-out infinite;
}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

/* About */
.about .container {
    padding-bottom: 30px;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text p {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-item {
    margin: 15px 0 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about .about-item .about-item-img {
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    transition: all 0.3S ease;
}

.about .about-item .about-item-img:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.33);
    transform: scale(1.2);
    border: none;
}

.about .about-item .about-item-img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Experience */
.experience .experience-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .experience-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .experience-text p {
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-black-700);
    text-align: justify;
    margin-bottom: 1rem;
}

.experience .experience-content .experience-text p:last-child {
    margin-bottom: 0;
}

.experience .experience-content .expertise,
.experience .experience-content .technology {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.experience .experience-content .expertise h3.title,
.experience .experience-content .technology h3.title {
    margin-bottom: 12px;
}

.experience .experience-content .expertise .expertise-content,
.experience .experience-content .technology .technology-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .expertise .expertise-item {
    font-size: 14px;
    padding: 6px 8px;
    margin-bottom: 8px;
    border-radius: 16px;
    border: none;
    display: inline-block;
    white-space: nowrap;
    color: white;
    background: var(--skin-color);
}

.experience .experience-content .technology .technology-content img {
    height: 33px; /* =6+6+14*1.5 (pad-top + pad-bottom + font-size * line-height) */
}

.experience .experience-content .education,
.experience .experience-content .work-experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.experience .experience-content .education h3.title,
.experience .experience-content .work-experience h3.title {
    margin-bottom: 12px;
}

.experience .experience-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.experience .experience-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 30px;
}

.experience .experience-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.experience .experience-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.experience .experience-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.experience .experience-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--text-black-700);
}

.experience .experience-content .timeline .timeline-date .fa {
    margin-right: 10px;
}

.experience .experience-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-black-900);
}

.experience .experience-content .timeline .timeline-location {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--text-black-900);
}

.experience .experience-content .timeline li {
    line-height: 1.2;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 3px;
    color: var(--text-black-700);
}

.experience .experience-content .timeline li:last-child {
    margin-bottom: 0;
}

.experience .experience-content .timeline .fa-ul {
    margin: 0 0 0 20px;
}

.experience .experience-content .my-portfolio {
    margin-top: 30px;
}

/* Portfolio */
.portfolio .container {
    padding-bottom: 30px;
}

.portfolio .portfolio-item {
    display: flex;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-item-inner {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    text-align: center;
    transition: all 0.3S ease;
}

.portfolio .portfolio-item .portfolio-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transform: scale(1.02);
}

.portfolio .portfolio-item .portfolio-item-inner h4 {
    margin: 10px 0 5px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
}

.portfolio .portfolio-item .portfolio-item-inner p {
    padding: 0 15px;
    line-height: 1.3;
    font-size: 15px;
    color: var(--text-black-700);
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px 0;
    padding: 0 15px;
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-black-700);
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link a:hover {
    color: var(--skin-color);
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link i {
    transition: transform 0.3s ease;
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link a:hover i {
    transform: translateX(5px);
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-img img {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}

/* Contact */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 16px;
    margin-bottom: 80px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item a {
    display: inline-block;
}

.contact .contact-info-item a .icon {
    font-size: 35px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.contact .contact-info-item a:hover .icon {
    transform: scale(1.15);
}

.contact .contact-info-item a h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 15px 0 5px;
    transition: all 0.2s ease;
}

.contact .contact-info-item a:hover h4 {
    color: var(--skin-color);
}

/* Media queries for shrinking window sizes */
@media (max-width:1199px) {
    .section .container {
        padding-top: 70px;
    }

    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }
}

@media (max-width:991px) {
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media (max-width:767px) {
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-item,
    .experience .experience-content .work-experience,
    .experience .experience-content .education,
    .experience .experience-content .technology,
    .experience .experience-content .expertise {
        flex: 0 0 100%;
        max-width: 100%;
    }
}