@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    /* Font */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    /* Font sizes */
    --font-size-small: 0.875rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    /* Line Heights */
    --line-height-small: 1.2;
    --line-height-normal: 1.3;
    --line-height-large: 1.5;
    /* Colors for light mode*/
    --bg-color-background: #f2f2fc;
    --bg-color-float: #fdf9ff;
    --bg-color-border: #e8dfec;
    --text-color-title: #302e4d;
    --text-color-paragraph: #504e70;
    /* Theme color */
    --theme-color: #e53935;
}

:root.dark {
    /* Colors for dark mode */
    --bg-color-background: #151515;
    --bg-color-float: #222222;
    --bg-color-border: #393939;
    --text-color-title: #ffffff;
    --text-color-paragraph: #e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

h1 {
    font-size: 1.75rem;
    color: var(--text-color-title);
    margin: 15px 0;
}

h2 {
    font-size: 1.875rem;
    color: var(--text-color-title);
    margin: 15px 0;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color-title);
    position: relative;
}

h3::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--theme-color);
    position: absolute;
    top: 100%;
    left: 0;
}

h3::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--theme-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

h4 {
    margin-bottom: 12px;
    font-size: var(--font-size-xlarge);
    font-weight: 700;
    color: var(--text-color-title);
}

h5 {
    font-size: var(--font-size-medium);
    font-weight: 700;
    color: var(--text-color-title);
    margin: 10px 0 5px;
}

h6 {
    font-size: var(--font-size-small);
    font-weight: 500;
    color: var(--text-color-title);
    margin-bottom: 10px;
}

a {
    color: var(--text-color-title);
}

.section {
    background: var(--bg-color-background);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 32px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: var(--font-size-normal);
    font-weight: 500;
    padding: 12px 30px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--theme-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Dark/Light Mode */
.day-night {
    position: fixed;
    right: 0;
    top: 32px;
    margin-right: 25px;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    z-index: 101;
    background: var(--bg-color-float);
    color: var(--text-color-title);
    border: 1px solid var(--bg-color-border);
    border-radius: 50%;
    text-align: center;
    font-size: var(--font-size-large);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Aside */
.aside {
    width: 270px;
    background: var(--bg-color-float);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 32px;
}

.aside .logo img {
    height: 100px;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.aside .logo .filled,
.aside .logo:hover .outline {
    opacity: 1;
}

.aside .logo .outline,
.aside .logo:hover .filled {
    opacity: 0;
}

.aside ul {
    list-style: none;
}

.aside .nav li a {
    font-size: var(--font-size-normal);
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-color-border);
    color: var(--text-color-title);
    padding: 15px 15px;
}

.aside .nav li a.active {
    color: var(--theme-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-color-border);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 24px;
    border-radius: 5px;
    background: var(--bg-color-float);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--theme-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--theme-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--theme-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

/* Home */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-color-title);
}

.home .home-info {
    flex: 0 0 70%;
    max-width: 70%;
}

.name {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 0.5rem;
    color: var(--theme-color);
}

.typing {
    color: var(--theme-color);
}

.home-info p {
    margin: 0 30px 30px 0;
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    color: var(--text-color-paragraph);
    text-align: justify;
}

.home .home-img {
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    text-align: center;
    justify-self: center;
    background: url(../images/profile/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px var(--theme-color);
    animation: profile_animate 8s ease-in-out infinite;
}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

/* About */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text p {
    margin-bottom: 1rem;
    font-size: var(--font-size-normal);
    line-height: var(--line-height-large);
    color: var(--text-color-paragraph);
    text-align: justify;
}

.about .about-item {
    margin: 15px 0 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about .about-item .about-item-img {
    border: 1px solid var(--bg-color-border);
    border-radius: 10px;
    transition: all 0.3S ease;
}

.about .about-item .about-item-img:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.33);
    transform: scale(1.2);
    border: none;
}

.about .about-item .about-item-img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Experience */
.experience .experience-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .experience-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .experience-text p {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-large);
    color: var(--text-color-paragraph);
    text-align: justify;
    margin-bottom: 1rem;
}

.experience .experience-content .experience-text p:last-child {
    margin-bottom: 0;
}

.experience .experience-content .expertise,
.experience .experience-content .technology {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.experience .experience-content .expertise .expertise-content,
.experience .experience-content .technology .technology-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .expertise .expertise-item {
    font-size: var(--font-size-small);
    padding: 6px 8px;
    margin-bottom: 8px;
    border-radius: 16px;
    border: none;
    display: inline-block;
    white-space: nowrap;
    color: white;
    background: var(--theme-color);
}

.experience .experience-content .technology .technology-content img {
    height: 33px; /* =6+6+14*1.5 (pad-top + pad-bottom + font-size * line-height) */
}

.experience .experience-content .work-experience {
    flex: 0 0 65%;
    max-width: 65%;
    margin-top: 30px;
}

.experience .experience-content .education {
    flex: 0 0 35%;
    max-width: 35%;
    margin-top: 30px;
}

.experience .experience-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.experience .experience-content .timeline {
    background-color: var(--bg-color-float);
    padding: 30px 15px;
    border: 1px solid var(--bg-color-border);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.experience .experience-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 30px;
}

.experience .experience-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.experience .experience-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--theme-color);
}

.experience .experience-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--theme-color);
}

.experience .experience-content .timeline .timeline-date {
    font-size: var(--font-size-small);
    font-weight: 400;
    color: var(--text-color-paragraph);
}

.experience .experience-content .timeline .timeline-date .fa {
    margin-right: 10px;
}

.experience .experience-content .timeline li {
    line-height: var(--line-height-small);
    font-size: var(--font-size-normal);
    margin-bottom: 3px;
    color: var(--text-color-paragraph);
}

.experience .experience-content .timeline li:last-child {
    margin-bottom: 0;
}

.experience .experience-content .timeline .fa-ul {
    margin: 0 0 0 20px;
}

.experience .experience-content .my-portfolio {
    margin-top: 30px;
}

/* Portfolio */
.portfolio .portfolio-item {
    display: flex;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-item-inner {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-float);
    border: 1px solid var(--bg-color-border);
    border-radius: 10px;
    text-align: center;
    transition: all 0.3S ease;
}

.portfolio .portfolio-item .portfolio-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transform: scale(1.02);
}

.portfolio .portfolio-item .portfolio-item-inner p {
    padding: 0 15px;
    line-height: var(--line-height-normal);
    font-size: var(--font-size-normal);
    color: var(--text-color-paragraph);
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
    padding: 0 15px;
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link a:hover {
    color: var(--theme-color);
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link i {
    transition: transform 0.3s ease;
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-link a:hover i {
    transform: translateX(5px);
}

.portfolio .portfolio-item .portfolio-item-inner .portfolio-item-img img {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}

/* Contact */
.contact-title {
    text-align: center;
    color: var(--theme-color);
}

.contact-sub-title {
    text-align: center;
    margin-bottom: 80px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 60px;
    text-align: center;
}

.contact .contact-info-item a {
    display: inline-block;
}

.contact .contact-info-item a .icon {
    font-size: 2.2rem;
    color: var(--theme-color);
    transition: all 0.3s ease;
}

.contact .contact-info-item a:hover .icon {
    transform: scale(1.15);
}

.contact .contact-info-item a h5 {
    transition: all 0.2s ease;
}

.contact .contact-info-item a:hover h5 {
    color: var(--theme-color);
}

/* Media queries for shrinking window sizes */
@media (max-width:1199px) {
    .section .container {
        padding-top: 64px;
    }

    .day-night {
        top: 24px;
    }

    .aside .logo {
        top: 24px;
    }

    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }
}

@media (max-width:991px) {
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media (max-width:767px) {
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-item,
    .experience .experience-content .work-experience,
    .experience .experience-content .education,
    .experience .experience-content .technology,
    .experience .experience-content .expertise {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

* {
    outline: 1px red solid;
}